/*  ---- COLORS ---- */

/* BACKGROUNDS */

$bg-services: rgba(254, 251, 239, 1.0);
$footer: rgba(40, 40, 40, 1.0);

/* TYPOGRAPHY */

$brand: rgba(194, 90, 70, 1.0);
$link: rgba(111, 111, 111, 1.0);
$services-text: rgba(56, 58, 63, 1.0);

/* BUTTONS */

$button: rgba(194, 90, 70, 1.0);
$hover: rgba(206, 97, 80, 1.0);
$shadow: rgba(0, 0, 0, 0.2);
